img {
    max-width:100px;
    max-height:150px;
    position: relative;
    float: left;
    width: auto;
    height: auto;
    display: inline-block;
    margin:10px;

    border: solid 1px;
}

div.box {
    width: 120px;
    margin-top: 20px;
    margin-left: 10px;
    display: inline-block;
    
}

span{
    padding-top: 20px;
}



